*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbarContainer{
    width: 100%;
    background-color: black;
}
.navbar{
    width: 90%;
    height: 40px;
    margin: auto;
}
.navbar ul{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    padding: 0px 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.menuContainer{
    width: 100%;
}
.menu{
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .logo{
    width: 20%;
    height: 70px;
}
.menu .logo img{
    width: 100%;
    margin: 20px 0px;
}
.menu ul li{
    display: inline-block;
    padding: 0px 10px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu ul li a::after{
    content: '';
    display: block;
    border: 1px solid black;
    width: 0%;
    margin: auto;
    margin-top: 3px;
    transition: 0.5s;
}
.menu ul li a:hover::after{
    width: 100%;
}
.menu .search{
    width: 15%;
    border: 1px solid gray;
    border-radius: 20px;
}
.menu .search input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
}
::placeholder{
    padding-left: 20px;
}
.bannerContainer{
    width: 100%;
}
.banner{
    width: 90%;
    height: 445px;
    margin: auto;
}
.banner img{
    width: 100%;
    position: relative;
}
.textContainer{
    width: 100%;
}
.textContainer .text {
    width: 70%;
    height: auto;
    margin: auto;
}
.textContainer .text h3{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
h3::after{
    content: '';
    /* border: 1px solid black; */
}
.galleryContainer{
    width: 100%;
    height: 600px;
}
.gallery{
    width: 90%;
    /* height: 550px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.Image{
    width: 325px;
    height: 270px;
    border-radius: 10px;
    margin-top: 20px;
}
.Image img{
    width: 100%;
    border-radius: 10px;
}
.text{
    padding-bottom: 20px;
}
.viContainer{
    width: 100%;
}
.vedioImages{
    width: 90%;
    height: 1290px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.box{
    width: 320px;
    height: 420px;
    border-radius: 10px;
    position: relative;
}
.box video{
    width: 320px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
}
.box img{
    width: 320px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
}
.box p{
    position: absolute;
    bottom: 0%;
    color: #a7a3a3;
    font-size: 14px;
}
.buttonContainer{
    width: 100%;
   
}
.button {
    width: 10%;
    height: 50px;
    margin: auto;
    line-height: 50px;
}
.buttonContainer .button a{
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    padding: 7px 13px;
    margin-left: 40px;
    border-radius: 20px;
}
.footerContainer{
    width: 100%;
    border-top: 1px solid gray;
}
.footer{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.footer .footList{
    display: flex;
    justify-content: space-evenly;   
}
.Fbox{
    width: 250px;
    height: 220px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Fbox h3{
    text-transform: uppercase;
}
.Fbox ul li{
    list-style: none;
    padding: 3px 0px;
}
.Fbox ul li a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
}
.footContacts{
    width: 100%;
    height: 120px;
}
.logins{
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.lbox{
    width: 50px;
    height: 50px;
}
.lbox img{
    width: 100%;
}
.texts{
    width: 30%;
    height: auto;
    margin: auto;
}
.texts p{
    margin: 10px;
    text-align: center;
}

.button{
    margin-bottom: 20px;
}
.button a{
    text-decoration: none;
    color: #676565;
    border: 1px solid #676565;
    padding: 5px 10px;
    border-radius: 20px;
}
.footer1{
    height: 300px;
    width: 100%;
    display: flex;
   
}
.foot{
    height: 300px;
    width: 23.5%;
    margin: auto;
    
}
.foot1{
    padding-left: 80px;
}
.foot1 h1{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 22px;
}
.foot1 ul li{
    padding: 10px 0px;
    list-style: none;
}
.foot1 ul li a{
    text-decoration: none;
    color: #676565;
}
.text1{
    text-align: center;
    margin-bottom: 30px;
}
.text1 h3{
    position: relative;
}
.text1 h3::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    border-bottom: 1px solid black;
    width: 45%;
   
}
.text1 h3::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    border-bottom: 1px solid black;
    width: 45%;
   
}